*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /* background: #000; */
    background-color: #ebf2ff;
    font-family: 'Merriweather', serif;
    overflow: hidden;

}


.primary_btn{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold
}


.navbar{
    display: flex;
    justify-content: space-around;
    padding: 0 auto;
    
}
.navbar__brand{
    width: 140px;
}
.navbar_logo{
    width: 100%;
}
/* .navbar__nav__items{
    
} */

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}
.hero__container{
    width: 100%;
}
.hero__image__container{
    width: 100%;
}
.hero_img{
    width: 100%;
}
/* .hero__description{

} */

.hero__text{
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
    font-family: cursive;
}



@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        width: 150px;
    }
    .button__primary {
        padding: 12px 20px;
        font-size: 20px;
    }
}
@media(min-width:1020px){
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:1400px){
    
}
